<nav id="navbar-example2" class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#fat">@fat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#mdo">@mdo</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#one">one</a>
        <a class="dropdown-item" href="#two">two</a>
        <a class="dropdown-item" href="#three">three</a>
      </div>
    </li>
  </ul>
</nav>

<nav id="navbar-example2" class="fixed-top navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <div class="mr-auto"></div>
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="dropdown-item active" href="#one">one</a>
      </li>
      <li class="nav-item">
        <a class="dropdown-item" href="#two">two</a>
      </li>
      <li class="nav-item">
        <a class="dropdown-item" href="#three">three</a>
      </li>
    </ul>

  </div>
</nav>

<div data-spy="scroll" data-target="#navbar-example2" data-offset="56">
  <h4 id="one">one</h4>
  <p>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita non error quia et minus facilis, rerum
      aspernatur voluptates eum? Consequatur quaerat, soluta iste facilis quidem et aliquid tenetur quisquam illo.</span>
    <span>Quia vel ducimus placeat culpa nesciunt harum quod, beatae explicabo soluta quis recusandae cupiditate
      sapiente fugiat exercitationem at autem repellat voluptatum nisi iste amet praesentium! Eligendi excepturi porro
      expedita in.</span>
    <span>Illo magnam nobis fugit distinctio quaerat? Illo dolor dolore dolorum, ut consectetur odio quasi, vero hic
      doloremque unde sit quidem, ullam nostrum iusto natus tempore inventore? Est fuga assumenda omnis!</span>
    <span>Maiores at iure nihil mollitia quisquam libero nesciunt molestias maxime molestiae delectus pariatur
      obcaecati est necessitatibus magnam, similique nemo earum, sit non iste! Voluptas ipsum cumque quibusdam
      molestias dignissimos ratione?</span>
    <span>Modi labore nulla dolore tempora quis? Eum facilis itaque unde at dolore id ullam, nulla dolores nemo
      exercitationem. Id consequatur et iste libero reiciendis possimus quos, culpa quia obcaecati velit.</span>
    <span>Fugit, voluptatem sapiente? Harum vero eius saepe non fuga cum alias qui officia dolorem accusamus totam
      explicabo possimus aperiam dicta vitae culpa amet, cupiditate quis iure! Similique velit ex reprehenderit.</span>
    <span>Culpa error soluta facere nemo, quibusdam earum ipsam nam, deserunt sapiente alias deleniti repudiandae qui
      modi dolore mollitia. Dolor eligendi nesciunt ullam numquam. Ipsum minus, dolorem quidem ullam incidunt cum.</span>
    <span>Beatae neque, mollitia officiis repellendus obcaecati culpa harum ad veritatis explicabo placeat voluptas
      iste at commodi, ipsa sapiente est ut provident minus debitis voluptatem! Veritatis corporis repellendus deserunt
      libero id.</span>
    <span>Nobis aliquam maiores, vel similique sapiente unde quibusdam consequuntur quas modi consectetur ex pariatur
      dolore, eum iure quis aliquid nostrum sed itaque tempore accusantium totam magnam obcaecati quos! Accusamus,
      repellat.</span>
    <span>A voluptates quae placeat, asperiores provident dignissimos voluptas, neque officia excepturi et dolor
      deleniti blanditiis dolore eius tempora? Natus, quaerat ipsum fugit quam iure quia. Nisi quisquam a est nulla?</span>
    <span>Sit soluta maxime architecto labore possimus magni alias rerum maiores! Officia eum porro harum debitis, cum,
      commodi enim perspiciatis optio tempore, magnam corporis omnis modi! Dignissimos sit voluptates voluptatum iusto.</span>
    <span>Facere incidunt molestiae sunt, hic laudantium, accusamus quisquam a nihil ab delectus animi quas iure
      molestias doloribus, debitis laboriosam! Enim aspernatur eos laborum non esse unde porro quam dolorum recusandae!</span>
    <span>Soluta sit, nostrum autem excepturi dolore consectetur quae aspernatur fuga ex in consequatur doloremque.
      Fugiat accusantium ex incidunt facilis laudantium, numquam ullam consectetur amet tempore, obcaecati ut, labore
      vel explicabo?</span>
    <span>Labore consequatur quos velit error dolor unde commodi iste necessitatibus natus deleniti a, culpa
      praesentium fugiat quasi nisi amet facere placeat id dolorem atque iusto ratione suscipit alias. Quibusdam,
      quasi?</span>
    <span>Alias impedit hic iure exercitationem enim, recusandae maiores iusto quasi eaque labore, consequatur
      cupiditate facilis veniam saepe nihil perferendis dolorum? Laborum eveniet doloribus quisquam voluptatem pariatur
      obcaecati rem placeat incidunt.</span>
  </p>
  <h4 id="two">two</h4>
  <div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo voluptatibus, in quas cupiditate natus
      similique nihil culpa praesentium, quia dolorum accusamus. Expedita voluptatum molestias rerum nisi quis! Fuga,
      ipsam voluptate!</div>
    <div>Ad illo corrupti facilis exercitationem, iste architecto dicta dolorem voluptate earum numquam. Ipsum odio
      voluptatibus dolore explicabo fuga? Quia deserunt voluptatibus enim delectus incidunt perferendis sit fugiat odit
      similique veritatis.</div>
    <div>Hic dolores excepturi similique minus quasi, deserunt animi laboriosam repudiandae libero quod officia dicta
      ad cum labore modi provident aut fugiat fuga? Sint qui molestiae recusandae? Atque voluptatum eius possimus?</div>
    <div>Praesentium repudiandae ab laboriosam, sit magni distinctio nostrum? Mollitia laboriosam distinctio temporibus
      earum aliquam tenetur laborum labore dolor deserunt ad sed nesciunt veniam eius at iste sapiente id, quaerat
      minus!</div>
    <div>Mollitia praesentium, accusamus cum vero reiciendis dolorem doloremque. Provident numquam, hic eos corporis
      obcaecati atque pariatur adipisci quam? Vel ad officiis molestiae quasi consequatur neque nostrum ratione
      dignissimos, ea dolores?</div>
    <div>Assumenda voluptate sed dignissimos at dolores cupiditate soluta minus, officia, et reiciendis numquam harum
      voluptatem cum nobis! Eius porro dolore eligendi temporibus sint. Dolores, dolorem laboriosam! Nihil voluptatum
      fugit voluptas!</div>
    <div>Quo adipisci vitae est, ratione corporis ea magni beatae laboriosam quas ullam illo illum voluptas assumenda
      tempore aliquid! Temporibus molestiae velit ex saepe commodi dignissimos quia aliquam sapiente alias maxime?</div>
    <div>Quia quis hic neque consectetur nostrum iste eligendi nulla possimus nemo quas. Quo reprehenderit eius aut
      quidem perspiciatis voluptatibus facilis itaque, soluta, inventore dicta commodi repellendus. Amet itaque ad
      cumque!</div>
    <div>Quibusdam iusto placeat ratione neque doloribus sunt assumenda harum ipsa. Accusantium, velit adipisci aperiam
      quis quibusdam necessitatibus et quam obcaecati quos nobis inventore placeat sint ex amet! Esse, odio iure.</div>
    <div>Maxime voluptate itaque ratione deserunt, reiciendis, harum ipsam aut illo, consequatur sapiente aliquid ipsa
      molestiae laboriosam eaque debitis! Quod modi dolor fugit iure suscipit quibusdam quasi sunt rerum in beatae.</div>
    <div>Sequi consequuntur numquam necessitatibus. Incidunt hic magni dolore adipisci, voluptatem alias totam quas quo
      distinctio soluta labore sed suscipit ratione beatae modi temporibus facilis vero tempore vel architecto numquam
      molestias?</div>
    <div>Molestiae voluptatibus nostrum ipsam numquam sit illo sunt ea minus impedit voluptate doloribus provident
      quasi iusto, architecto nemo sed quam praesentium dolore optio earum. Commodi unde enim tenetur ipsam quis.</div>
    <div>Vitae perspiciatis tempore ipsa excepturi quod id, iusto quo aliquid aspernatur amet neque voluptatum nemo,
      asperiores porro consectetur dignissimos similique nisi laborum. Ad nam id adipisci accusantium rerum aut
      excepturi?</div>
    <div>Animi eius aspernatur distinctio rem nobis est cumque molestiae quod iste dolore, laborum omnis exercitationem
      ea itaque doloremque at harum repellat, reiciendis in vitae vel sed. Numquam cumque aut dignissimos.</div>
    <div>Vel, quas iure sit commodi necessitatibus, doloremque fugit, numquam voluptates architecto aliquam harum! Esse
      alias iste dolorem! Delectus nesciunt quas ab doloribus animi tempora ex nisi nostrum, sequi neque minima?</div>
    <div>Debitis alias doloremque commodi reprehenderit, facilis odio dolore ab architecto voluptatum vel temporibus
      eos quisquam, nobis id consectetur error tempora accusamus cumque ipsum nisi deleniti ad explicabo, facere
      possimus. Porro.</div>
    <div>Fuga laboriosam perspiciatis nihil? Voluptate culpa quas nesciunt cum quidem repudiandae inventore. Corporis
      nemo nam voluptas dolor reprehenderit vero aut accusamus enim atque, totam dignissimos quos nulla sint fuga ea.</div>
    <div>Ipsum impedit saepe accusantium praesentium totam sunt vitae soluta quis possimus. Quis quaerat iste eos
      commodi ullam consequuntur temporibus voluptatibus natus et nam dolores, maxime omnis blanditiis atque dolorum
      voluptatem.</div>
    <div>Earum ipsam odit maiores error natus laudantium, impedit nisi ratione, at quae asperiores praesentium! Cum eos
      consequuntur culpa consectetur, ducimus nostrum officia inventore eligendi, quidem suscipit quis omnis porro
      eveniet.</div>
    <div>Tenetur enim officia fugiat nisi fuga omnis veritatis, cupiditate libero exercitationem. Maxime eveniet
      possimus porro cum excepturi facilis aliquam nesciunt delectus? Saepe dolores voluptatum possimus eius minima
      numquam reprehenderit velit.</div>
    <div>Distinctio ratione soluta suscipit perspiciatis dolorem iure repellendus fugiat. Recusandae assumenda
      molestiae vel, optio repudiandae possimus ducimus reprehenderit corporis, iste modi ipsa totam reiciendis quidem
      necessitatibus delectus rem veritatis odit?</div>
    <div>Quasi excepturi aperiam quaerat voluptates doloremque consequatur ducimus consectetur animi at. Totam
      inventore ea, sequi vitae dolores iusto id blanditiis alias aspernatur culpa ab pariatur et, natus a! Ullam, sed.</div>
    <div>Impedit sunt error in exercitationem? Laboriosam veniam eum necessitatibus quae harum ab nesciunt architecto
      amet fugiat et fuga, at dignissimos magni incidunt facilis officia excepturi impedit quo labore dolorum eveniet!</div>
    <div>Enim soluta quia, quaerat tempore neque qui, necessitatibus asperiores est possimus, saepe repellat voluptatem
      odio obcaecati labore nihil voluptates quas quisquam repudiandae? Tenetur quos quasi temporibus ad! Nihil, in
      expedita.</div>
    <div>Recusandae, quia. Dicta earum quia error molestiae neque atque, nemo voluptas quos officia quisquam nostrum,
      dignissimos debitis officiis odio distinctio asperiores magni deserunt est quibusdam maxime dolores. Fugit, a
      vel.</div>
    <div>Maiores tenetur quod iusto animi culpa aliquid nesciunt ipsum tempora enim ratione ut velit, alias veniam iure
      officiis voluptatibus consequuntur? Neque in impedit temporibus commodi minima, velit saepe maxime nam!</div>
    <div>Laboriosam nostrum vel molestiae doloribus. Ipsam iure officiis et officia. Sapiente, optio magni vel quam
      maiores, exercitationem possimus laudantium totam provident mollitia, facilis non quod? Natus perspiciatis
      mollitia adipisci sit.</div>
    <div>Itaque in cumque nemo ut qui ea consequuntur maiores soluta ipsam molestias, ab ullam adipisci debitis,
      voluptatibus labore necessitatibus aliquam sequi quos architecto dicta, modi odio impedit? Placeat, cumque
      commodi.</div>
    <div>Tempora eos fugit iure culpa cupiditate magnam delectus illo labore pariatur inventore beatae sint repudiandae
      voluptatum illum, soluta id sit atque itaque sunt, consectetur facere minus nobis quaerat. Animi, ab.</div>
    <div>Quisquam, libero. Omnis consequatur, in rerum laudantium earum laboriosam, a suscipit fugit quae iure dicta
      ipsam dolore eos? Aut architecto repellendus possimus illum atque ad quas temporibus harum nobis iure?</div>
    <div>Dicta sunt ipsum, architecto eaque maxime molestiae repudiandae. Et esse, fugit error, omnis assumenda ducimus
      rem expedita ipsum quaerat provident, eaque accusamus recusandae sed aperiam? Consectetur inventore odio dolor
      officiis?</div>
    <div>Excepturi repudiandae perferendis, assumenda ut consequatur, porro illo maiores, earum perspiciatis soluta
      rerum obcaecati? Sapiente fugit commodi quam delectus totam illo, aspernatur deserunt, minima voluptatibus facere
      hic sed a nulla.</div>
    <div>Ipsum assumenda sunt laborum nam, rem veniam accusantium pariatur molestiae, reiciendis dolor, expedita error
      dolorem voluptates distinctio? Iure quae vero itaque culpa, minus velit quidem, modi nihil magnam, tenetur
      laboriosam.</div>
    <div>Amet, in! Obcaecati itaque quo, fugiat repellat optio vel eos officiis, illum tenetur quaerat laborum
      praesentium, enim animi dolorem? Nobis corrupti expedita quo eligendi vitae! Id deserunt quod sapiente ipsam!</div>
    <div>Provident ipsa non sit praesentium adipisci nam distinctio mollitia rem debitis illum asperiores architecto
      iste, quo, earum, doloremque velit quos alias perspiciatis culpa. Consequatur sint aut quidem optio temporibus
      explicabo.</div>
    <div>Odio voluptas ut obcaecati suscipit, corrupti, exercitationem autem similique repudiandae veniam laboriosam
      qui, quis dolores accusamus vero? Repellendus necessitatibus explicabo voluptatum mollitia, dolor pariatur autem
      perferendis, natus, ullam quaerat quis?</div>
    <div>Qui asperiores cum alias quasi eligendi. Earum quidem, suscipit sit cupiditate aliquam odio itaque expedita
      eos consectetur quod maxime necessitatibus asperiores vero eligendi ut et. Velit aperiam illum maxime voluptate!</div>
    <div>Vero, consequuntur fuga quas aspernatur similique perferendis adipisci deleniti cumque minus. Repellendus in
      rem, illo unde obcaecati commodi veniam dignissimos, ipsa repudiandae at dicta possimus qui corrupti odio hic
      dolorum.</div>
    <div>Possimus, doloremque unde nam optio et rem temporibus sint vel. Iusto fugit in cum consequuntur iure corrupti
      voluptates culpa sequi non neque quasi, est impedit itaque aperiam adipisci ut reiciendis.</div>
    <div>Esse natus ipsam, culpa nostrum incidunt cumque veritatis facere nisi laboriosam, corporis hic dicta ab
      debitis ipsum voluptate sunt qui, eligendi iusto quibusdam dolor consectetur quos voluptatum sit ducimus! Quia?</div>
  </div>
  <h4 id="three">three</h4>
  <div>
    <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, non. Voluptates qui voluptatem eveniet
      adipisci eos voluptatum rem debitis? Tempora sint eaque vero nostrum voluptatibus dolorum, qui et consequatur
      obcaecati?</div>
    <div>Totam esse ratione minima rerum qui reprehenderit odio non, rem consequuntur at nobis modi praesentium labore!
      Illum omnis sit necessitatibus id reprehenderit quidem repellat? Sit officia deleniti deserunt qui! Nihil.</div>
    <div>Ad amet accusamus incidunt adipisci officia nostrum error pariatur molestias quis earum cupiditate, quos
      tempora sequi, nam commodi sint expedita nobis voluptas dolor accusantium. Temporibus ipsum totam veritatis enim
      delectus?</div>
    <div>Id repudiandae consequuntur cumque ut aperiam deleniti ipsa tempora, veniam corrupti illum qui ea nesciunt
      molestias, eaque, tempore atque odio ex voluptates consectetur expedita odit! Perspiciatis autem nesciunt
      accusantium quibusdam!</div>
    <div>Tenetur recusandae veritatis, ducimus, veniam animi nobis ab quaerat molestias assumenda, placeat fugiat
      exercitationem earum aliquam voluptas necessitatibus ipsa. Unde asperiores reiciendis sed inventore quidem
      voluptatem expedita perspiciatis esse rem.</div>
  </div>
</div>